.header {
    height: 15rem;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    z-index: 9999;

    @media screen and (min-width:576px) {
        height: 10rem;
        flex-direction: row;
    }
}