.main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}

.lateral_menu {
    display: flex;
    flex-direction: column;


    @media screen and (min-width:576px) {
        width: 25rem;
        margin-top: 10rem;
        position: fixed;
        top: 0;
        left: 0;
    }

    .title_sm {
        padding: 2rem 0;
        text-align: center;
    }

    .btn_container {
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @media screen and (min-width:576px) {
            min-height: 50vh;
            flex-direction: column;
        }
    }

    .btn {
        background-color: transparent;
        border: none;
        border-radius: .8rem;

        &:hover {
            color: var(--accent);
        }

        &.active {
            color: var(--bg-section);
            background-color: var(--accent);
        }

    }
}

.container {
    background-color: var(--bg-section);
    flex: 1;

    @media screen and (min-width:576px) {
        margin-left: 25rem;
    }
}

.title {
    padding-bottom: 2rem;
    text-align: center;
}

.task_list {
    max-width: 100%;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}