.container_form {
    width: 90%;
    min-height: 90vh;
    margin: auto;
    color: #ffffff;
    background: radial-gradient(ellipse at bottom, #0d1b2a 20%, #000000 100%);
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:960px) {
        width: 70%;
    }

    .form {
        width: 80%;
        color: #ddd;
        display: flex;
        flex-direction: column;

        @media screen and (min-width:960px) {
            width: 50%;
        }

        .container_input {
            display: flex;
            flex-direction: column;
            position: relative;


            label {
                padding-bottom: .5rem;
                padding-top: 2rem;
                color: #ddd;
            }

            :where(input, textarea) {
                padding: .2rem .5rem;
                color: #ddd;
                background-color: transparent;
                border: .1rem solid #ddd;
                border-radius: .8rem;
                transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
            }

            textarea {
                height: 20rem;
            }

            input:focus,
            textarea:focus {
                border: .15rem solid #BA68C8;
                outline: none;
            }

            &:focus-within label {
                color: #BA68C8;
            }
        }

        .btn {
            width: fit-content;
            padding: 1.6rem 3.2rem;
            margin: 3rem auto;
            color: #ddd;
            font-weight: 600;
            border: none;
            background-color: rgba(186, 104, 200, 0.2);
            border-radius: 3.2rem;
            cursor: pointer;
            transition: .3s all ease-in-out;


            &:hover {
                background-color: rgba(186, 104, 200, 1);
                transform: translateY(-.3rem);
            }
        }
    }
}

.error_msg {
    color: var(--error);
    position: absolute;
    bottom: -2rem;
    left: 0;
    font-size: 1.2rem;
}

.message {
    padding: 1rem;
    color: var(--warning);
    text-align: center;
}